## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Importing libraries
import pandas as pd
import sqlite3
import numpy as np

In [2]:
pd.options.display.max_columns = None

# Preparation of Dataset

## Accessing the different datasets

In [9]:

box_movie_gross_df = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
box_movie_gross_df.head(10)

# This dataset contains the domestic and foreign revenue generated by different movies from Box Office Movie Mojo

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010

In [10]:

moviesdb_df =pd.read_csv("zippedData/tmdb.movies.csv.gz")

moviesdb_df.head(10)

#dataset contains moviesdb ratings of different titles

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
5,5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229
6,6,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,Avatar,7.4,18676
7,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340
8,8,"[16, 10751, 35]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057
9,9,"[16, 28, 35, 10751, 878]",38055,en,Megamind,22.855,2010-11-04,Megamind,6.8,3635

In [8]:
rt_movie_info = pd.read_csv("zippedData/rt.movie_info.tsv.gz",sep='\t')
rt_movie_info.head(10)

#contains movie info from rotten tomatoes website

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN

In [11]:
rt_reviews_df = pd.read_csv("zippedData/rt.reviews.tsv.gz",sep="\t",encoding="latin_1")
rt_reviews_df.head(10)


#contains reviews of various movies from the rotten tomato website

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
5,3,... Cronenberg's Cosmopolis expresses somethin...,NaN,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
8,3,"Cronenberg's cold, exacting precision and emot...",NaN,fresh,Sean Axmaker,0,Parallax View,"March 24, 2013"
9,3,Over and above its topical urgency or the bit ...,NaN,fresh,Kong Rithdee,0,Bangkok Post,"March 4, 2013"

In [13]:
thenumbers_df =pd.read_csv("zippedData/tn.movie_budgets.csv.gz")

thenumbers_df.head(10)

# contains the production budget and revenue of various movies sourced from the Numbers website

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"

### IMDB website

In [14]:
conn=sqlite3.connect("zippedData/im.db/im.db")
cur= conn.cursor()

In [13]:
%%script sqlite3 zippedData/im.db/im.db --out tables
.tables
.quit

In [14]:
print(tables)

directors      movie_akas     movie_ratings  principals
known_for      movie_basics   persons        writers

In [16]:
query = """ 
SELECT 
    p.primary_name AS director_name,
    mb.*,
    mr.*
FROM persons AS p
JOIN directors AS d
USING (person_id)
JOIN movie_basics AS mb
USING (movie_id)
JOIN movie_ratings AS mr
USING (movie_id);
"""

imdb_df=pd.read_sql(query,conn)

In [17]:
imdb_df.sample(20)

,director_name,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
61137,Stanislav Donchev,tt2196724,Rapid Reaction Corps,Rapid Response Corps,2012,91.0,"Action,Comedy",tt2196724,6.8,349
89871,Karanjeet Saluja,tt1807978,Bhoot and Friends,Bhoot and Friends,2010,133.0,"Action,Adventure,Animation",tt1807978,5.1,54
20034,Zack Ward,tt4517738,Restoration,Restoration,2016,92.0,Horror,tt4517738,4.0,808
140586,Tracy Trost,tt3696794,77 Chances,77 Chances,2015,NaN,Drama,tt3696794,6.6,57
12956,Chito S. Roño,tt4609676,Etiquette for Mistresses,Etiquette for Mistresses,2015,122.0,"Comedy,Drama,Romance",tt4609676,5.8,134
111690,K. Pervaiz,tt4050462,World of Death,World of Death,2016,142.0,"Comedy,Horror,Sci-Fi",tt4050462,7.2,31
102633,Yoshihiro Nakamura,tt2011351,Chips,Potechi,2012,68.0,Comedy,tt2011351,6.8,145
135143,Scotty Whitehurst,tt5432182,The Legend of Zelda Oblivion Rising,The Legend of Zelda Oblivion Rising,2016,152.0,Fantasy,tt5432182,5.2,20
74389,J.A. Bayona,tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,2018,128.0,"Action,Adventure,Sci-Fi",tt4881806,6.2,219125
178961,David Scott Jordan,tt8259148,Prudence Drive,Prudence Drive,2018,77.0,"Comedy,Horror",tt8259148,3.0,21
66523,Francesco Campanini,tt2179115,La casa nel vento dei morti,La casa nel vento dei morti,2012,90.0,"Crime,Drama,Horror",tt2179115,4.7,75
156273,Kawita Sareen,tt2249786,50 Kisses,50 Kisses,2014,89.0,"Comedy,Drama,Horror",tt2249786,5.8,172
172406,G. Prajith,tt7411396,Meda Meeda Abbayi,Meda Meeda Abbayi,2017,NaN,"Romance,Thriller",tt7411396,5.4,49
20924,Brad Sykes,tt4809964,Hi-Death,Hi-Death,2018,102.0,Horror,tt4809964,5.4,16
59649,José Pedro Lopes,tt4050462,World of Death,World of Death,2016,142.0,"Comedy,Horror,Sci-Fi",tt4050462,7.2,31
39020,Emmanuel Itier,tt3184096,Attila,Attila,2013,85.0,"Action,Horror,Thriller",tt3184096,2.0,524
155542,Rai Woods,tt4235408,The Cucaracha Club,The Cucaracha Club,2016,86.0,Thriller,tt4235408,3.7,9
14061,Muhammad Ihsan Fadli,tt9253760,Dongeng Mistis,Dongeng Mistis,2018,88.0,Horror,tt9253760,7.8,8
12969,Oren Rudavsky,tt7428030,Joseph Pulitzer: Voice of the People,Joseph Pulitzer: Voice of the People,2018,84.0,Documentary,tt7428030,6.8,16
13866,Tony Y. Reyes,tt1883290,Pak! Pak! My Dr. Kwak!,Pak! Pak! My Dr. Kwak!,2011,115.0,"Comedy,Fantasy",tt1883290,6.5,38